.root {
	-fx-font-size: 12pt; 
	-fx-font-family: "Courier New";
	-fx-background: #ffffff;
	-fx-background-position: right bottom;
	-fx-background-image: url(../image/ariori.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: 50.0%;
}